<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/ic_launcher"
        android:label="LiveSet"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiveSet">
        <activity android:name=".PlayerActivity" />
        <activity android:name=".LiveSongActivity" />
        <activity android:name=".EditSongActivity" />
        <activity android:name=".ImportActivity" />
        <activity android:name=".SetlistActivity" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
