<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission
        android:name="com.jiminix.liveset.permission.READ_VIEWER"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/ic_launcher"
        android:label="LiveSet"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiveSet">
        <provider
            android:name=".PlaylistShareProvider"
            android:authorities="com.jiminix.liveset.playlists"
            android:exported="true"
            android:readPermission="com.jiminix.liveset.permission.READ_VIEWER" />
        <activity android:name=".PlaylistOverviewActivity" />
        <activity android:name=".PlayerActivity" />
        <activity android:name=".LiveSongActivity" />
        <activity android:name=".EditSongActivity" />
        <activity android:name=".ImportActivity" />
        <activity android:name=".SetlistActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".HomePlaylistsActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
